:root {
    --color-border: #d0d0d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

h3{
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

a{
    color: #0061ff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links ul a {
    text-decoration: none;
    color: #505050;
}

.nav-btn {
    border: none;
    background-color: #0061ff;
    padding: 6px;
}

.nav-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 920px;
    margin: auto;
    min-height: 100px;
}

.container-xl {
    max-width: 1020px;
}

#hero-section {
    background-color: #b4d0e7;
    padding-bottom: 0
}

#hero-section .col:nth-child(1) {
    flex-basis: 40%;
}

#hero-section .col:nth-child(2) {
    flex-basis: 60%;
    display: flex;
    align-items: flex-end;
}

#hero-section .jumbo-img {
    width: 100%;
    height: calc(100% + 40px);
    max-height: 300px;
    margin-bottom: -40px;
    position: relative;
    bottom: 0;
    object-fit: contain;
    object-position: bottom;
}

.section-title {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}

.btn {
    padding: 0.7rem 1rem;
    border: 0;
    margin: 1rem 0 1rem;
}

.btn-primary {
    background-color: #0061ff;
    color: white;
}

p {
    padding-bottom: 1rem;
}

#hero-section i {
    font-size: 2rem;
    padding-top: 1.5rem;
}

/* MAIN */

.gap-2 {
    gap: 2rem;
}

.full-width {
    flex-basis: 100%;
}

.col-item {
    border: 1px solid var(--color-border);
    height: 100%;
}

.header-col {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-align: center;
}

.body-items {
    padding: 1rem;
}

.body-items ul{
    list-style: none;
}

.body-items li{
    padding-bottom: 1rem;
    display: flex;
}

.body-items li i{
    padding-right: 0.5rem;
}

.fa-check{
    color: #0061ff;
}

hr{
    border: 1px solid var(--color-border);
    width: 70px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.strong-text{
    padding-bottom: 1rem;
}

.padding-item{
    line-height: 1.4rem;
    margin-bottom: 2rem;
}
.light-grey{
    color: #949494;
    font-weight: lighter;
}

.padding-top{
    padding-top: 4rem;
}

.no-wrap{
    flex-wrap: nowrap;
}

.body-items .items-left{
    flex-basis: 60%;
    flex-grow: 1;
}

.img-col{
    flex-basis: 55%;
}
img{
    width: 100%;
    object-fit: fill;
}
.col-text{
    width: 45%;
    padding: 2rem;
}

.col-text h2{
    padding-bottom: 2rem;
}

.btn-white{
    border: 1px solid;
    background-color: white;
}

.col-width{
    width: 33%;
}

.col-width img{
    object-fit: fill;
    width: 100%;
}

.col-img, .col-description{
    padding: 1rem;
}

#special h2{
    padding-bottom: 3rem;
    width: 60%;
}

#special{
    padding-bottom: 0;
}

.provvisorio{
    background-color: aquamarine;
    width: 100%;
    height: 300px;
}
.bg-color-light{
    background-color: #b4d0e7;
}
.bg-color-light h2{
    color: #61082b;
    width: 60%;
}

.border{
    font-weight: lighter;
    border: none
}

.accordion-items{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    border-bottom: 1px solid #949494;
}

.border-top{
    border-top: 1px solid #949494;
}

footer{
    background-color: #000000;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-col{
    width: 33%;
}

.footer-col ul{
    list-style: none;
}
.footer-col li{
    padding: 0.7rem 0;
}

.footer-col ul a{
    text-decoration: none;
    color: white;
}

.footer-col h4{
    padding-bottom: 24px;
}

.language i{
    padding-right: 0.4rem;
}

.language .fa-caret-up{
    padding-left: 0.4rem;
}

.position{
    position: relative;
    top: 1.8rem;
}

/* 



.col-container{
    border: 1px dashed green;
    height: 400px;
    display: flex;
    margin-bottom: 46px;
}

.col{
    border: 1px dashed yellow;
    height: 400px;
    width: 33%;
}
.col-container{
    display: flex;
    gap: 1rem;
    margin: 28px 0;
}

.row .body-items{
    display: flex;
    width: 100%;
}

.grid-items{
    width: 33%;
}

.grid-img img{
    object-fit: fill;
    width: 100%;
}

.grid{
    flex-wrap: wrap;
}



.bg-color{
    background-color: #b4d0e7;
}

.padding{
    padding: 62px 0;
}



*/